<%= stylesheet_link_tag 'custom' %>

<div class="main-menu">
  <div class="div">
    <div class="li">
      <div class="home">Home</div>
      <svg
        class="house"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.8839 1.87506C10.3957 1.3869 9.60427 1.3869 9.11612 1.87506L0.808058 10.1831C0.563981 10.4272 0.563981 10.8229 0.808058 11.067C1.05214 11.3111 1.44786 11.3111 1.69194 11.067L2.5 10.2589V16.8751C2.5 17.9106 3.33947 18.7501 4.375 18.7501H15.625C16.6605 18.7501 17.5 17.9106 17.5 16.8751V10.2589L18.3081 11.067C18.5521 11.3111 18.9479 11.3111 19.1919 11.067C19.436 10.8229 19.436 10.4272 19.1919 10.1831L16.25 7.24117V3.12506C16.25 2.77988 15.9702 2.50006 15.625 2.50006H14.375C14.0298 2.50006 13.75 2.77988 13.75 3.12506V4.74117L10.8839 1.87506ZM16.25 9.00894V16.8751C16.25 17.2202 15.9702 17.5001 15.625 17.5001H4.375C4.02982 17.5001 3.75 17.2202 3.75 16.8751V9.00894L10 2.75894L16.25 9.00894Z"
          fill="white"
        />
      </svg>
    </div>
  </div>

  <div class="div2">
    <div class="menu-header"></div>

    <div class="ul">
      <div class="menu-item">
        <div class="events">Events</div>
      </div>

      <div class="menu-item2">
        <div class="stations">Stations</div>
      </div>

      <div class="menu-item3">
        <div class="shakemap">ShakeMap</div>
      </div>

      <div class="menu-item4">
        <div class="shakecast">ShakeCast</div>
      </div>
    </div>

    <div class="data">DATA</div>
  </div>

  <div class="div3">
    <div class="menu-header2"></div>

    <div class="ul2">
      <div class="a">
        <div class="staff">Staff</div>
      </div>

      <div class="history">History</div>
    </div>

    <div class="about-us">ABOUT US</div>
  </div>

  <div class="div4">
    <div class="menu-header3"></div>

    <div class="sign-in">Sign In</div>

    <div class="staff-login">STAFF LOGIN</div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DATA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">STAFF LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- main content here -->
    </main>
  </div>
</div>
